* {
    margin : 0;
}


body {
    background-image:linear-gradient(to right,rgba(250, 253, 255, 0.521), rgba(164, 180, 192, 0.5),rgba(255, 255, 255, 0.623)), url("/img/background2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.gadgets{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}


.replay {
    border: none;
    background-color: rgba(162, 190, 201, 0);
    outline-style: none !important;
    color: #2e3d49;
}


.deck {
    margin: auto;
    width: 50%;
    background: linear-gradient(160deg, #BAE6F7 0%, #29A0D2 100%);
    padding: 32px;
    border-radius: 20px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


h1 {
    margin: 20px;
    font-size: 25px;
}


.deck .card {
    height: 140px;
    justify-content: center;
    align-items: center;
    flex-basis: 23%;
    background: linear-gradient(160deg, #2e3d49 0%,#374857, #2e3d49 100% );
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin-bottom: 10px;
    font-size: 0;     
}


.transformation {
    transform: rotateY(180deg);
    transition: transform 1s;
    pointer-events: none;
}


.deck .flip {
    pointer-events: none;

    font-size: 35px;
    background: linear-gradient(240deg,rgb(52, 136, 247) 0%,rgb(32, 170, 180)50%,rgb(35, 124, 240), rgb(52, 136, 247) 100%);
}


.deck .matched {
    background: linear-gradient(240deg, rgb(85, 140, 250) 0%,rgb(139, 232, 255), #4CB1F7 100% );
    cursor: default;
    font-size: 35px;
    box-shadow: none;
    pointer-events: none;
    color: rgb(255, 255, 255);
}


#star i {
    color: gold;
    border-bottom: 3px double rgb(182, 164, 1);

}


#win {
    border: 3px solid silver;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20%;
    height: 70%;
    width: 65%;
    position: fixed;
    top: 0;
    background-color: white;
    background-image:linear-gradient(to right,rgba(250, 253, 255, 0.589), rgba(255, 255, 255, 0.623),rgba(255, 255, 255, 0.575)), url('/img/confetti1.png');
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

#congrats {
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 50px;
}

#congrats i{
    color: rgb(255, 72, 0);
}


#secondary {
    border: 0.5px solid rgba(0, 193, 241, 0.719);
    border-radius: 10px;
    margin-top: 70px;
    background:linear-gradient(240deg, rgba(85, 140, 250, 0.5) 0%,rgba(139, 232, 255, 0.5), rgba(76, 176, 247, 0.5) 100% );
    padding: 10px;
}


@media only screen and (max-width: 1024px) {
    .deck {
      width: 90%;
    }
    .gadgets{
        font-size: 14px;
        width: 100%;
        margin: auto;
        display: flex;
    justify-content: space-evenly;
    }
    
  }







